* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.main-container {
    margin-left: 120px;
    margin-right: 200px;
}

/* first div styling */

.pro-div1 {
    width: 100%;
    min-height: 650px;
    margin-top: 50px;
    margin-bottom: 100px;
    padding: 20px 20px;
}

.sub-pro-div1 {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
    width: 100%;
    padding-bottom: 20px;
}

.content1 {
    min-height: 300px;
    width: 100%;
    padding: 10px;
    position: relative;
    border: solid 1px #D3DCEB;
    border-radius: 10px;
}

.img-box1 {
    min-height: 200px;
    width: 100%;

}

.txt-box1 {
    min-height: 100px;
    width: 100%;
}

.pro-div1 img {
    width: 400px;
    height: 300px;
    border-radius: 15px;
}

.pro-div1 span {
    font-family: Quicksand, sans-serif;
    font-size: 15px;
    font-weight: 500;
    line-height: 31px;
    color: #636363;
}

.pro-div1 h4 {
    font-family: Questrial, sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 36px;
    color: #1c0d5a;
    text-align: center;
    padding: 10px;
}

.pro-div1 h3 {
    font-family: Questrial, sans-serif;
    font-size: 60px;
    font-weight: 700;
    line-height: 60px;
    color: #1c0d5a;
    text-align: center;
    padding: 10px;
}

.pro-div1 p {
    font-family: Quicksand, sans-serif;
    font-size: 17px;
    font-weight: 500;
    line-height: 31px;
    color: #636363;
    text-align: justify;
    margin-left: 10px;
}

.rate {
    width: 20%;
    height: 40px;
    border: solid 2px #DAE5EB;
    background-color: white;
    border-radius: 12px;
    font-family: Quicksand, sans-serif;
    font-size: 15px;
    line-height: 21px;
    padding: 5px;
    position: absolute;
    top: 35px;
    left: 30px;
}


.div-button {
    width: 35%;
    height: 50px;
    border: solid 0px;
    border-radius: 8px;
    background-color: #344fff;
    font-family: Quicksand, sans-serif;
    font-size: 18px;
    padding: 5px;
    color: white;
    margin-left: 42%;
}

/* button with light orange hover */
.div-button:hover {
    background-color: #76defe;
    color: white;
}

/* styling for the 4th div */

.pro-div4 {
    width: 100%;
    min-height: 300px;
    padding: 20px 20px;
    background-color: #EFF7FB;
}

.sub-pro-div4 {
    width: 100%;
    padding-bottom: 20px;
    margin-top: 20px;
}

.pro-div4 h3 {
    font-family: Questrial, sans-serif;
    font-size: 30px;
    font-weight: 600;
    line-height: 30px;
    color: #1c0d5a;
    text-align: center;
    padding: 10px;
}

.pro-div4 p {
    font-family: Quicksand, sans-serif;
    font-size: 17px;
    font-weight: 500;
    line-height: 31px;
    color: #636363;
    text-align: center;
    padding: 10px;
}

.pro-div4 button {
    width: 10%;
    height: 50px;
    border: solid 0px;
    border-radius: 8px;
    background-color: #344fff;
    font-family: Quicksand, sans-serif;
    font-size: 18px;
    padding: 5px;
    color: white;
    margin-left: 45%;
}

/* button with light orange hover */
.pro-div4 button:hover {
    background-color: #76defe;
    color: white;
}

/* Responsivness for Mobile Phone */

@media screen and (max-width: 425px) {
    .main-container {
        margin-left: 20px;
        margin-right: 20px;
    }

    /* first div Mobile Responsivness */

    .pro-div1 {
        width: 100%;
        min-height: 650px;
        margin-top: 50px;
        margin-bottom: 100px;
        padding: 20px 20px;
    }

    .sub-pro-div1 {
        display: grid;
        grid-template-columns: auto;
        gap: 20px;
        width: 100%;
        padding-bottom: 20px;
    }

    .content1 {
        min-height: 300px;
        width: 100%;
        padding: 10px;
        position: relative;
        border: solid 1px #D3DCEB;
        border-radius: 10px;
    }

    .img-box1 {
        min-height: 200px;
        width: 100%;

    }

    .txt-box1 {
        min-height: 100px;
        width: 100%;
    }

    .pro-div1 img {
        width: 350px;
        height: 300px;
        border-radius: 15px;
    }

    .pro-div1 span {
        font-family: Quicksand, sans-serif;
        font-size: 15px;
        font-weight: 500;
        line-height: 31px;
        color: #636363;
    }

    .pro-div1 h4 {
        font-family: Questrial, sans-serif;
        font-size: 20px;
        font-weight: 600;
        line-height: 36px;
        color: #1c0d5a;
        text-align: center;
        padding: 10px;
    }

    .pro-div1 h3 {
        font-family: Questrial, sans-serif;
        font-size: 60px;
        font-weight: 700;
        line-height: 60px;
        color: #1c0d5a;
        text-align: center;
        padding: 10px;
    }

    .pro-div1 p {
        font-family: Quicksand, sans-serif;
        font-size: 17px;
        font-weight: 500;
        line-height: 31px;
        color: #636363;
        text-align: justify;
        margin-left: 10px;
    }

    .rate {
        width: 20%;
        height: 40px;
        border: solid 2px #DAE5EB;
        background-color: white;
        border-radius: 12px;
        font-family: Quicksand, sans-serif;
        font-size: 15px;
        line-height: 21px;
        padding: 5px;
        position: absolute;
        top: 35px;
        left: 30px;
    }


    .div-button {
        width: 35%;
        height: 50px;
        border: solid 0px;
        border-radius: 8px;
        background-color: #344fff;
        font-family: Quicksand, sans-serif;
        font-size: 18px;
        padding: 5px;
        color: white;
        margin-left: 42%;
        position: absolute;
        right: 20px;
        top: 87%;
    }

    /* button with light orange hover */
    .div-button:hover {
        background-color: #76defe;
        color: white;
    }

    /* styling for the 4th div */

    .pro-div4 {
        width: 100%;
        min-height: 300px;
        padding: 20px 20px;
        background-color: #EFF7FB;
    }

    .sub-pro-div4 {
        width: 100%;
        padding-bottom: 20px;
        margin-top: 20px;
    }

    .pro-div4 h3 {
        font-family: Questrial, sans-serif;
        font-size: 30px;
        font-weight: 600;
        line-height: 30px;
        color: #1c0d5a;
        text-align: center;
        padding: 10px;
    }

    .pro-div4 p {
        font-family: Quicksand, sans-serif;
        font-size: 17px;
        font-weight: 500;
        line-height: 31px;
        color: #636363;
        text-align: center;
        padding: 10px;
    }

    .pro-div4 button {
        width: 35%;
        height: 50px;
        border: solid 0px;
        border-radius: 8px;
        background-color: #344fff;
        font-family: Quicksand, sans-serif;
        font-size: 18px;
        padding: 5px;
        color: white;
        margin-left: 30%;
    }

    /* button with light orange hover */
    .pro-div4 button:hover {
        background-color: #76defe;
        color: white;
    }

}